
body {
  font-family: 'Roboto', sans-serif;

}
body .container {
  display: flex;
  gap: 3rem;
}
body .container .drink-food {
  width: 50%;
}
body .container .drink-food header .start, body .container .drink-food header .mid, body .container .drink-food header .end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container .drink-food header .start:first-child span {
  opacity: 0.5;
}

body .container .drink-food header .start:nth-child(1) {
  font-weight: 200;
}

body .container .drink-food header .mid div:nth-child(2) button {
  display: inline-block;
  flex-direction: row;

  width: 133.36px;
  height: 38px;

  /* Primary */

  border-radius: 5px;
}

body .container .drink-food header .mid div:nth-child(2) button:first-child {
  color: white;
  background-color: #32BBCB;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
}
body .container .drink-food header .mid div:nth-child(2) button:nth-child(2) {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  opacity: 60%;
  margin-left: 1rem;
}
body .container .drink-food header .mid div:nth-child(2) button:hover {
  cursor: pointer;
}

body .container .drink-food header .end nav {
  display: flex;
  gap: 1rem;
}

body .container .drink-food header .end nav a {
  text-decoration: none;
  color: black;
}


body .container .drink-food header .end nav a hr {
  border-style: none;
  border-radius: 2px;
  border-color: black;
  border-width: 1px;
  
}


body .container .drink-food header .end nav a:hover {
  color: #32BBCB;

}

body .container .drink-food header .end nav a:hover hr {
  border: 2px solid #32BBCB;  
}


body .container .drink-food header .end .search {
  width: 250px;
  height: 40px;

}

body .container .drink-food header .end .search input {
  width: 100%;
  height: 100%;

  border: 1px solid #E4E4E4;
  border-radius: 8px;

  padding-left: 40px;
  
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  
  background-color: #f1f1f1;

}
body .container .drink-food .show-item {
  width: 100%;
  margin-top: 1rem;
}
body .container .drink-food .show-item .data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  width: 95%;
  height: 750px;
  overflow-y: auto;
  margin: auto;
}

body .container .drink-food .show-item .data .item {
  position: relative;
  width: 166.66px;
  height: 210px;

  background-color: #E4E4E4;
  text-align: center;
  border-radius: 12px;

  margin-top: 30px;
}

body .container .drink-food .show-item .data .item div:nth-child(1) {
  display: block;
  width: 114.58px;
  height: 114.58px;
  
  position: absolute;
  left: 15.63%;
  right: 15.62%;
  top: -30px;
  margin: auto;
}

body .container .drink-food .show-item .data .item img {
  height: 100%;
  width: auto;

}

body .container .drink-food .show-item .data .item div:nth-child(2) {
  width: 90%;
  text-align: center;
  position: inherit;

  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;

}


body .container .drink-food .show-item .data .item div:nth-child(2) p {
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 12.15px;
}

body .container .drink-food .show-item .data .item div:nth-child(2) p:nth-child(2) {
  font-weight: 500;
}
body .container .drink-food .show-item .data .item div:nth-child(2) p:nth-child(3) {
  opacity: 50%;
}
body .container .drink-food .show-item .data .item button {
  color: white;
  display: flex;
  justify-content: center;
  padding: 12.1524px;
  gap: 6.94px;
  font-weight: 600;
  
  
  width: 90%;
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;

  background: #32BBCB;
  box-shadow: 0px 6.94423px 20.8327px rgba(146, 136, 224, 0.3);
  border-radius: 6.94423px;
  border: none;
}

body .container .drink-food .show-item .data .item button:hover {
  cursor: pointer;
}

body .container .order-list {
  position: relative;
  width: 50%;
  height: 97vh;

}
body .container .order-list .header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-right: 5px;
}

body .container .order-list .header hr {
  border: 0.5px #E4E4E4 solid;
  margin-top: -10px;
 }
  
body .container .order-list .header div div:nth-child(2) span {
  margin: 1rem;
}

body .container .order-list .each-list {
  overflow-y: auto;
  width: 100%;
  height: 662px;
}

body .container .order-list .each-list .item {
  display: block;

  font-weight: 500;
  font-size: 18px;

  margin-top: 20px;

}
body .container .order-list .each-list  .item div {
  display: block;
}

body .container .order-list .each-list .item .info {
  display: flex;
  align-items: center;
}

body .container .order-list .each-list .item .info img {
  display: inline-block;
  width: 100px;
  height: 100px;
}

body .container .order-list .each-list .item .info .nameAndPrice {
  display: inline-block;
  margin-left: 0px;
  width: 420px;
  text-align: left;
}

body .container .order-list .each-list .item .info .nameAndPrice #unitPrice { 
  opacity: 0.5;
  font-weight: 400;
}


body .container .order-list .each-list .item .info .nameAndPrice p {
  display: block;
  width: 100%;
}

body .container .order-list .each-list .item .info .sizeQtyandPrice {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}
body .container .order-list .each-list .item .info .sizeQtyandPrice span {
  display: flex;
  width: 60px;  
  text-align: center;

  justify-content: space-around;
  align-items: center;

}

body .container .order-list .each-list .item .info .sizeQtyandPrice span input {
  width: 70px;
  height: 70px;
  background-color: #E4E4E4;

  border: none;
  border-radius: 7px;

  text-align: center;
  font-size: 18px;
}

body .container .order-list .each-list .item .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 16px; */

  flex-grow: 3;
  /* width: 100%; */
}
body .container .order-list .each-list .item .action input {
  background-color: #e4e4e4;
  padding-left: 20px; 
  padding-right: 20px; 
  
  font-family: 300;
  font-size: 16px;
  
  border: none;
  border-radius: 8px;
  height: 48px;

  width: 80%;

}
body .container .order-list .each-list .item .action button {
  width: 48px;
  height: 48px;

  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;


  cursor: pointer;

  color: #343330;

  display: flex;
  align-items: center;
  justify-content: center;
}

body .container .order-list .each-list .item .action #delete-Button {
  border-color: #EA736D;
}

body .container .order-list .footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;

  bottom: 0px;
  width: 100%;
  margin: auto;
  height: 100px;


  background-color: #ffffff;

  border-width: 1px 0  0;
  border-color: #E4E4E4;
  border-style: solid;
  

}
body .container .order-list .footer div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body .container .order-list .footer div:first-child p {
  display: inline-block;
  opacity: 60%;
  font-family: 100;
}

body .container .order-list .footer #totalPrice {
  color: #32BBCB;
  padding-right: 1rem;
  opacity: 100%;

}

body .container .order-list .footer  .button-container  {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  gap: 20px;
}

body .container .order-list .footer  .button-container button {

  background: transparent;
  color: #32bbcb;
  border: 1px solid #32bbcb;
  border-radius: 5px;
  padding: 0.5rem 4rem;

}


body .container .order-list .footer .button-container #continue-Button {
  background-color: #32BBCB;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 4rem;
}/*# sourceMappingURL=drink-section.css.map */