body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
}

/* all history */
 .all-history {
  width: 70%;
  padding: 0 5rem;
}
 header {
  display: flex;
  justify-content: space-between;
}
 .list-data {
  width: 100%;
  margin-top: 1rem;
}
 .list-data .schema {
  display: flex;
  text-align: start;
}
 .schema .id {
  width: 20%;
}
 .schema .name {
  width: 25%;
}
 .schema .sex {
  width: 10%;
}
 .schema .db {
  width: 25%;
}
 .action {
  width: 20%;
}
 .pepole .pepole1 {
  display: flex;
  text-align: start;
  margin-top: 1rem;
}
 .pepole1 .id {
  width: 20%;
}
.name {
  width: 25%;
}
 .sex {
  width: 10%;
}
 .db {
  width: 25%;
  margin-right: 25px;
}
.action {
  width: 20%;
}
.action svg {
  margin: 0 0.3rem;
}