<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/tableSeletion/style.css">
    
</head>
<body>
    <div class="container-table">
        <div class="label">
            <div class="text"><span>Table selection</span></div>
            <div class="calender">
                <ion-icon name="calendar-clear-outline"></ion-icon>&nbsp;
                <p id="monthName"></p>&nbsp;
                <p id="dayName"></p>&nbsp;
                <p id="dayNumber"></p>&nbsp;
                <p id="year"></p>
            </div>

        </div>
        <div class="selection">
            <div class="table-list">
                <div class="label-table">
                    <h2>TABLE LIST</h2>
                </div>
                <div class="table-button">
                    <div class="btn">
                        <div th:each="table : ${tables}" th:text=${table.getTableNumber()} th:onclick="'showTableDetails(`'+${table.getTableNumber()}+'`)'"></div>
                      
                    </div>

                </div>
            </div>
            <div class="table-information" id="table_info" hidden>
                <div class="text-iformation">
                    <h2>TABLE INFORMATION</h2>

                    <span>No:<p id="tableNumber">00</p></span>
                    <span>Status:<p id="tableStatus">Avaliable</p></span>
                    <span>Paid:<p id="tablePaid">Unpaid</p></span>
                    
                </div>
                <div class="order">
                    <h2>Order</h2>
                    <div class="table-Order">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Size</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Price</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">12</th>
                                <td>124</td>
                                <td>1414</td>
                                <td>1241</td>
                              </tr>
                              <tr>
                                <th scope="row">12</th>
                                <td>124</td>
                                <td>1414</td>
                                <td>1241</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>   
<script>
const lang = navigator.language;
let date = new Date();

let dayNumber = date.getDate();
let month = date.getMonth();
let dayName = date.toLocaleString(lang,{weekday: 'long'});
let monthName = date.toLocaleString(lang,{month: 'long'});
let year = date.getFullYear();

document.getElementById('monthName').innerHTML = 
monthName;
document.getElementById('dayName').innerHTML = dayName;
document.getElementById('dayNumber').innerHTML =
dayNumber;
document.getElementById('year').innerHTML = year;

function showTableDetails(tableNumber) {
            
    console.log(tableNumber)
    document.getElementById('tableNumber').innerHTML = tableNumber;
    document.getElementById('tableStatus').innerHTML = tableNumber;//not done yet
    document.getElementById('tablePaid').innerHTML = tableNumber;//not done yet
    document.getElementById('table_info').hidden = false;
}

</script>
  





<!-- icon -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>